* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,html {
    font-family: sans-serif;
    font-size: 16px;
}
nav ul{
    background: white;
    padding: 0;
}
nav ul a {
    color:#898ea2;
    text-decoration: none;
    padding: .8rem 1rem;
    display:block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;  
}

nav > div {
    padding-top:35px;
}
nav > div > a{
    line-height: 0;
    text-align: center;
}



.d-flex {
    padding: 7.5px 10px 7.5px 0;
    text-decoration: none;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    color: #898ea2

}
.p-2 {
    padding: 10px;
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

/* highlight top-menu item when mouse is over it */
nav > div > a:hover {
    color: #FF922E;
    font-weight: normal;
  }
nav > ul > a:hover{
    color:#FF922E;
    font-weight: normal;
}

/* Mobile menu */
.d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.d-flex a {
    display: block;
    /* padding: 15px 5px; */
}

.active .nav-item {
    display: block;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #E5E5E5;
    margin-bottom:0px;
    height:100px;
    /* display:flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

 /* footer > div > p > a{
     margin-right: 10px;
     margin-left:20px;
 } */

  footer >div> p > a{
      text-decoration: none;
      color:#898ea2;
    padding: .8rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;  
    
}

/* project page */

a{
    text-decoration: none;
}

.page-headings{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    color:#A541C8;
    font-weight:lighter;
    line-height: 78px;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom:60px;
    
}

.box3{
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 25%; */
    width: 350px;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-top:5%;
    background:none;
    border: 3px solid rgba(165, 65, 200, 0.5);
    text-align: center; 
    border-radius: 60px;
}

.intro-pic{
    width:50%;
}

.project-intro{
    font-family: "Sofia Pro" sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 169.9%;
    color: #000000;
    text-align: left;
}

/* project1 */

.title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color:#A541C8;
    font-weight:lighter;
    line-height: 78px;
    padding-top: 20px;
}

.page-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom:60px;
    
}

.text{
    padding-left: 190px;
    padding-right:190px;
    padding-top: 10px;
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 39px;
}

.page-container > img{
    width: 750px;
    height:450px;
    padding-top: 20px;
}





/* Desktop menu */
@media all and (min-width: 768px) {
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    nav ul{
        display: flex;
        align-items: center;

    }

    nav > div {
        padding-top:35px;
        padding-left: 20px;
    }

   
    /* .container {
        display: flex;
        flex-direction: row;
        align-items: right;     
        flex-wrap: wrap;
        background: none;
        justify-content: space-between;
        margin-left: auto;
    
    } */
    .d-flex {
        order: 0;
        text-decoration: none;
        color: #898ea2;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: lighter;


        /* margin: 5px 20px; */
    }
    .d-flex > .p-2 {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
        margin: 20px;

    }


    /* done with nav bar */

    .box1{
        width: 40%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        margin-top:5%;
        left:30%;
        background:none;
        border: 3px solid rgba(165, 65, 200, 0.5);
        text-align: center; 
    }

    .box2{
        z-index: 2;
        width: 40%;
        height:300px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        margin-top:-18%;
        left:32%;
        background:none;
        border: 1px solid rgba(99, 121, 238, 0.5);        
        text-align: center; 
    }

    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        color:#A541C8;
        font-weight:bold;
        line-height: 78px;
    }

    #container1{
        text-align:center;
    }

    #catchphrase{
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        font-size: 30px;
        line-height: 44px;  
        display: inline-block;
        vertical-align:middle;
        color: orange;
        letter-spacing:2px;
    }



    #cursor{
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height:30px;
        background-color:#FF922E;
        animation: blink .75s step-end infinite; 
    }

    @keyframes blink{
        from, to{
            background-color: transparent
        }
        50%{
            background-color: #FF922E;
        }
    }

    button{
        background-color: #FF922E;
        width:160px;
        height: 60px;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        margin-top:40px;

    }

    }

    
